.fa-thumbs-up, .fa-thumbs-down {
    font-size: 5rem;
}

.icons h3 {
    font-size: 3.5rem;
}

.icons {
    color: whitesmoke;
    text-align: center;
    padding: 2rem;
}

.unique {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

#numero {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: whitesmoke;
    width: 15%;
    font-size: 3rem;
    margin: 0rem;
    padding: auto;
    border-radius: 0.8rem;
    border: 0.1rem solid whitesmoke;
    background-color: transparent;
    text-align: center;
}

#verificar, #suivante {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    width: 25%;
    font-size: 2.5rem;
    padding: auto;
}

#resultado, h3 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 2.5rem;
}
