/* Estilo general de los enlaces */
.nav-container-items .nav-item a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  text-align: center;
}

/* Estilo único para cada forma */
.red-shape {
  background-color: red;
  border-radius: 40% 40% 40% 40%; /* Totalmente redondeado */
  padding: 1rem;
}

.blue-shape {
  background-color: blue;
  border-radius: 40% 40% 40% 40%; /* Totalmente redondeado */
  padding: 1rem;
}

.purple-shape {
  background-color: purple;
  border-radius: 40% 40% 40% 40%; /* Totalmente redondeado */
  padding: 1rem;
}

.green-shape {
  background-color: orange;
  border-radius: 40% 40% 40% 40%; /* Totalmente redondeado */
  padding: 1rem;
}

/* Efectos interactivos */
.nav-item a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  font-style: bold;
}

/* Opcional: Espaciado para evitar que las formas se toquen */
.nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
