main {
    padding: 0px;
    margin: 0px;
}

header {
    display: fixed;
    top: 0;
    left: 0;
    margin: 0rem auto;
    width: 100%;
    height: 6rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 6rem;
}

.nav-container-items .nav {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-container-items {
    border: 0.1rem transparent white;
    border-radius: 1rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

section {
    margin: 2rem auto;
}

.result{
    display: none;
}

#right{
    display: none;
}
#wrong{
    display: none;
}

.icons{
    /*border: 1px solid blue;*/
    width: 250px;
    height: 80px;
    padding: 4px;
    margin-top:10px;
    text-align: center;
    border-radius: 15% 15% 15% 15% / 15% 15% 15% 15% ;
}

label {
    display: block;
    margin-bottom: 10px;
}

#output {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}
.prueba{
    display: block;
}

/* ESTILOS PARA LA TABLA */
/*@font-face {
    font-family: "Kids-Brush";
    src: url("../fonts/Kids-Brush-Playful-Font/KidsBrush-WyEKG.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}*/

.table-adapted {
    font-size: 1.5rem;
    border-collapse: collapse;
    background-color: #f9f9f9;
}


.table-adapted th {
    background-color: #ffcccb;
    color: #333;
    padding: 10px;
    border: 2px solid #f5a9a9;
}

.table-adapted td {
    padding: 10px;
    border: 2px solid #ddd;
    background-color: #fff;
}

.table-adapted tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.table-adapted {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    /*font-family: "Kids-Brush", sans-serif;*/
}
