main {
    padding: 0px;
    margin: 0px;
}

header {
    display: fixed;
    top: 0;
    left: 0;
    margin: 0rem auto;
    width: 100%;
    height: 8rem;
    background-color: transparent;
}

body {
    background-image: url("../images/img-pizarra.png");
    background-size: cover;
    background-attachment: fixed;
}

.table {
    background-color: transparent !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 8rem;
}

.fa-calculator {
    font-size: 5rem;
    color: whitesmoke;
}

.text-title {
    font-family: "Kids-Brush", sans-serif;
    font-weight: bold !important;
    color: whitesmoke;
}

.nav-container-items {
    font-size: 3rem;
    font-family: "Kids-Brush", sans-serif;
}

.config-table {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 3rem auto;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.config-table h2 {
    width: 30%;
    font-size: 3rem;
    text-align: center;
    align-items: center;
}

#cmbBase {
    width: 30%;
    text-align: center;
    font-size: 2.5rem;
    height: auto;
}

/* Cambios para pantalla media */
@media (max-width: 992px) {
    header, .navbar {
        height: 25rem;
    }

    .container-navbar{
        margin: 1rem auto;
        row-gap: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .navbar h1 {
        font-size: 6rem;
    }

    .nav-container-items {
        font-size: 3.75rem;
    }

    .nav-container-items .nav {
        display: flex;
        list-style: none;
        gap: 0rem !important;
    }

    section h2 {
        font-size: 5rem;
        text-align: center;
        align-items: center;
    }
}

.nav-container-items .nav {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-container-items {
    border: 0.1rem transparent white;
    border-radius: 1rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

section {
    margin: 2rem auto;
}

.result{
    display: none;
}

#right{
    display: none;
}
#wrong{
    display: none;
}

.icons{
    /*border: 1px solid blue;*/
    width: 250px;
    height: 80px;
    padding: 4px;
    margin-top:10px;
    text-align: center;
    border-radius: 15% 15% 15% 15% / 15% 15% 15% 15% ;
}

label {
    display: block;
    margin-bottom: 10px;
}

#output {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}
.prueba{
    display: block;
}

/* ESTILOS PARA LA TABLA */
@font-face {
    font-family: "Kids-Brush";
    src: url("../fonts/WildYouth-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.table-adapted {
    font-size: 3rem;
    margin: 1.5rem auto;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    /*font-family: "Kids-Brush", sans-serif;*/
    border: none;
}

.table-adapted th {
    color: #333;
    padding: 10px;
    border: none !important;
}

.table-adapted td {
    padding: 10px;
    border: none !important;
}

.table-adapted tr:hover {
    font-weight: bold;
    transition: background-color 1s ease;
}

/* Media query para dispositivos con ancho menor a 992px */
@media (max-width: 992px) {
    .table-adapted {
        font-size: 5.5rem;
    }

    .table-adapted th,
    .table-adapted td {
        padding: 15px; /* Reduce el espacio entre las celdas */
    }

    /* Aumentar el tamaño del select */
    #cmbBase {
        width: 40%;
        text-align: center;
        font-size: 4.5rem;
        margin: auto;
        height: auto;
    }

    /* Espacios adicionales para la tabla */
    section.section-tables {
        padding: 1.5rem;
        margin: 1rem auto;
    }
}
